<p>show works!</p>
<!-- nfFor to iterate array-->
<table class="table">
    <!-- <tr *ngFor = "let head of object;let i = index">
        <td *ngIf="i==0" class="td1">{{head}}</td>
        
    </tr> -->
    <tr class="tr1 cell" *ngFor = "let a of array[0]|keyvalue">
        <td>{{a.key}}</td>

    </tr>
    <tr class="tr1">
      <td colspan="3"></td>
        <td colspan="3">block</td>
        <td colspan="2"></td>
    </tr>
    <tr class="tr1" *ngFor = "let arr of array">
        <td class="td1">{{arr.name}}</td>
        <td class="td1">{{arr.id}}</td>
        <td class="td1">{{arr.status}}</td>
        <td class="td1">{{arr.address.block[0]}}</td>
        <td class="td1">{{arr.address.block[1]}}</td>
        <td class="td1">{{arr.address.block[2]}}</td>
        <td class="td1">{{arr.address.city}}</td>
        <td class="td1">{{arr.address.state}}</td>
    </tr>
</table>
<table class="tb2">
  <tr *ngFor="let x of array[0]|keyvalue">
    <td class="td2">{{x.key}}</td>
  </tr>
  <tr class="tr2" *ngFor="let x of array">
    <td class="td2">{{x.name}}</td>
    <td class="td2">{{x.name}}</td>
    <td class="td2">{{x.name}}</td>
  </tr>
</table>
<th *ngFor = "let arr of array">
  <p>{{arr.name}}</p>
</th>
<th>{{array[0].address}}</th>

<h4 *ngFor = "let x of a ;let i = index">
  <p>{{x}}</p>
</h4>
<h4 *ngFor = "let x of b|keyvalue">
  <p>{{x.value}}</p>
</h4>


{{object|json}}
