

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


 <div class="container mt-5 ">
    <div class="card" style="width: 18rem; ">
        <ul class="list-group list-group-flush" >
          <li class="list-group-item"><strong>First-Name :</strong> {{dataMore.firstName}}</li>
          <li class="list-group-item"><strong>Last_Name : </strong>{{dataMore.lastName}}</li>
          <li class="list-group-item"><strong>Email :</strong> {{dataMore.email}}</li>
          <li class="list-group-item"><strong>City :</strong> {{dataMore.city}}</li>
        </ul>
      </div>
 </div>
 