<div class="input">
    <div>
      <label for="text">Type something and press enter:</label>
    </div>
    <div>
      <input type="text" (keyup.enter) = onKeyUp($event)>
    </div>
  </div>

<div class="container">
    <div><h4>Pick a Color: </h4></div>
    <div class="colors">
        <div><button type="button" [style]="btnStyle0" (click) = "onClick(0)"></button></div>
        <div><button type="button" [style]="btnStyle1" (click) = "onClick(1)"></button></div>
        <div><button type="button" [style]="btnStyle2" (click) = "onClick(2)"></button></div>
        <div><button type="button" [style]="btnStyle3" (click) = "onClick(3)"></button></div>
        <div><button type="button" [style]="btnStyle4" (click) = "onClick(4)"></button></div>
        <div><button type="button" [style]="btnStyle5" (click) = "onClick(5)"></button></div>
        <div><button type="button" [style]="btnStyle6" (click) = "onClick(6)"></button></div>
        <div><button type="button" [style]="btnStyle7" (click) = "onClick(7)"></button></div>
        <div><button type="button" [style]="btnStyle8" (click) = "onClick(8)"></button></div>
        <div><button type="button" [style]="btnStyle9" (click) = "onClick(9)"></button></div>
        <div><button type="button" [style]="btnStyle10" (click) = "onClick(10)"></button></div>
        <div><button type="button" [style]="btnStyle11" (click) = "onClick(11)"></button></div>
        <div><button type="button" [style]="btnStyle12" (click) = "onClick(12)"></button></div>
        <div><button type="button" [style]="btnStyle13" (click) = "onClick(13)"></button></div>
        <div><button type="button" [style]="btnStyle14" (click) = "onClick(14)"></button></div>
        <div><button type="button" [style]="btnStyle15" (click) = "onClick(15)"></button></div>
        <div><button type="button" [style]="btnStyle16" (click) = "onClick(16)"></button></div>
        <div><button type="button" [style]="btnStyle17" (click) = "onClick(17)"></button></div>
</div>



<div class="show">
    <h3>Your Text: </h3><h3 [style] = textColor>{{text}}</h3>
</div>