td{
  border: 2px solid black;
  width:200px;
  height:60px
}
table{
  border-collapse: collapse;
  margin-bottom: 60px;
}
.c2{
  display:none;
}
.c1{
  display: block;
}
.colur1{
  background-color: rgb(19, 121, 36);
}
.ib
{
  display: inline;
  margin-left: 10px;
}
.InTime
{
  border: red;
}
