ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}
li a{
    text-decoration: none;
    padding: 4px 16px ;
    color: black;
    font-size: 30px;

}
.container1{
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: end;
    align-items: center;
    width:100%;

}
li a:link{
    color:black
   
}
li a:hover{
    color:white;
    background-color: rgb(28, 4, 116);
}
.active{
    color:rgb(44, 42, 42);
    background-color: rgb(215, 211, 228);
}
