<p>show works!</p>
<div class="container">
    <div class="row">
        <label for="name">Name:{{name}}</label>
    </div>
    <div class="row">
        <label for="name">Gender:{{gender}}</label>
    </div>
    <div class="row">
        <label for="name">City:{{city}}</label>
    </div>
    <div class="row">
        <button class="btn btn-danger me-2" style="width: 70px;" (click)="onClick()">Like</button>
        <button class="btn btn-dark" style="width: 70px;" (click)="onClick2()">Dislike</button>
    </div>
</div>